.header{
  display: flex;
  flex-direction: row;
  position:fixed;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: rgb(100, 71, 59);
}

.page-title{
  margin-left:10px;
  font-family: Cookie;
  font-size:50px;
  color:rgb(255, 243, 231);
  text-shadow: 1px 1px 0px rgb(205, 193, 181);
}